// nav시작
.top{
    width: 100%; height: 125px; border-bottom: 1px solid @maincolor; position: relative;
    .depthback{
        width: 100%; height: 200px; background-color: #fff; position: absolute; top:126px; display: inline-block; display: none;
    }
    .login{
        width: 1400px; height: 25px; margin: 0 auto;
        .login_nav{
            width: 140px; height: 25px; float: right;
            a{
                font-size: 10px; color: @subcolor; padding-right: 5px;
            }
        }
    }
    .menu{
        width: 1400px; height: 100px; margin: 0 auto;
        .logo{
            width: 201px; height: 48px; background-color: #fff; float: left; margin-top: 26px;
        }
        .eco{
            width: 300px; height: 150px; position: absolute; top: 125px; display: none;
            .ecostory{
                width: 130px; height: 70px; background: @maincolor; position: absolute; top: 30px; left: 25px; z-index: 100;
                .ecocar{
                    display: block; text-align: center; padding-top: 7px; font-weight: bold; font-size: 20px; color: @fontcolor;
                }
                .story{
                    display: block; padding-left: 25px; font-size: 16px; color: @fontcolor;
                }
            }
            .ecoinfor{
                width: 130px; height: 70px;  position: absolute; top: 30px; right: 0; z-index: 100;
                .in{
                    display: block; font-size: 11px; padding-top: 17px; color: @subcolor;
                }
                .for{
                    display: block; font-size: 11px; color: @subcolor;
                }
            }
        }
        .depth1{
            position: relative;
            .depth1_1{
                width: 950px; position: absolute; top: 51px; right: 0;
                .depth1_2{
                    width: 180px; display: inline-block;
                    a .top_nav{
                        display: block; text-align: center;
                    }
                    .depth2{
                        position: relative;
                            .depth2_1{
                            width: 185px; position: absolute; top:36px;
                            .depth2_2{
                                width: 180px; height: 150px;display: inline-block; margin: 0 auto; display: none;
                                a .bottom_nav{
                                    display: block; text-align: center; margin-top: 15px; color: @subcolor;
                                    &:hover{
                                      border-bottom: 1px solid @maincolor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// nav끝

// index 슬라이드시작
.slidewrap{
    height: 100%; overflow: hidden;
    .main1{
        height: 100%;
        img{
            height: 100%;
        }
        .slideinfor{
            width: 500px; height: 300px; position: absolute; top:320px; left: 400px;
            img{
                width: 230px; height: 250px;
            }
        }
        .line{
            position: absolute; top: 350px; left: 460px;
            display: block; font-weight: bold; font-size: 48px; color: @fontcolor;
        }
        .line2{
            position: absolute; top: 410px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
        .line3{
            position: absolute; top: 470px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
        .ecobutton{
            width: 150px; height: 40px; position: absolute; top: 630px; left: 450px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 18px;
            a{
               color: @fontcolor;
            }
            &:hover{
              background: @maincolor;
            }
        }
    }
}
// index 슬라이드끝

// 효과시작
.effectwrap{
    width: 100%; height: 100%; margin-top: 30px;
    .scrollone{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .iconwrap{
        width: 1400px; height: 400px; margin: 0 auto;
        .energy{
            width: 250px; height: 200px; float: left; margin-left: 160px; margin-top: 80px;
            img{
                padding-left: 90px; padding-top: 20px;
            }
            .energyinfor{
                width: 250px; height: 130px; margin-top: 20px;
                span{
                    display: block; text-align: center;color: @subcolor; font-size: 12px; padding-top: 5px;
                }
            }
        }
    }
}
// 효과끝

// 차종알아보기시작
.subsidywrap{
    width: 100%; height: 100%; margin-top: 30px; background: @mainbackground; display: inline-block;
    .scrolltwo{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px; padding-top: 20px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .carwrap{
        width: 1400px; height: 650px; margin: 0 auto; margin-top: 50px;
        .car1{
            width: 460px; height: 180px; float: left; margin-left: 5px; margin-top: 100px; position: relative;
            &:hover .carbox{
                background: #08FF7B;
            }
            &:hover .carname{
                color: @fontcolor;
            }
            .carbox{
                width: 300px; height: 180px; border: 7px solid @maincolor; display: block;
            }
            .carname{
                 width: 120px; height: 30px; font-size: 36px; color: @subcolor; display: block; position: absolute; left: 50px; top: 63px; text-align: center;
            }
            .carimg{
                width: 300px; height: 180px; display: block; position: absolute; top: 0; right: 0;
                img{
                    width: 300px; height: 180px;
                }
            }
        }
    }
    .footcar{
        width: 500px; height: 50px; border-bottom: 5px solid @maincolor; margin-top: 50px; margin-bottom: 50px; float: right; margin-right: 150px;
        span{
            float: right;
            a{
                font-size: 24px; color: @subcolor;
            }
        }
    }
}
// 차종알아보기끝

//블로그시작
.blogwrap{
    width: 100%; height: 100%; margin-top: 30px;
    .scrollthree{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .blogmain{
        width: 1400px; height: 500px; margin: 0 auto;
        .blog1,.blog2,.blog3{
            width: 250px; height: 270px; float: left; margin-left: 162.5px; margin-top: 80px; position: relative;
            &:hover .line1{
                width:100%; transition-delay:.3s;
            }
            &:hover .line2{
                height: 85%; transition-delay:.6s;
            }
            &:hover .line3{
                width:100%; transition-delay:.9s;
            }
            &:hover .line4{
                height: 85%; transition-delay:1.2s;
            }
            .blog1box,.blog2box,.blog3box{
                width: 250px; height: 230px; float: left;
                img{
                    width: 250px; height: 230px; position: relative;
                }
            }
            .bloginfor{
                width: 250px; height: 40px; display: inline-block; text-align: center; font-size: 20px; color: @subcolor; margin-top: 10px;
            }
            .line1{
                position:absolute; height:7px; background-color: @maincolor; width:0; top:0; left:0; transition:all 0.3s;
            }
            .line2{
                position:absolute; background-color: @maincolor; height: 0; width:7px; top:0; right:0; transition:all 0.3s;
            }
            .line3{
                position:absolute; height:7px; background-color: @maincolor; width:0; bottom: 40px; right:0; transition:all 0.3s;
            }
            .line4{
                position: absolute; background-color: @maincolor; height: 0; width: 7px; bottom:40px;
                left:0; transition: all 0.3s;
            }
        }
    }
}
//블로그끝

//charging시작
.chargingwrap{
    width: 100%; height: 100%; margin-top: 30px; background: @mainbackground; display: inline-block;
    .scrollfour{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px; padding-top: 20px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .chargingimg{
        width: 1260px; height: 500px; margin: 0 auto; margin-top: 50px;
        .aa{
            position: relative; width: 400px; height: 500px; float: left; overflow: hidden; margin-left: 20px; display: block;
                &:after{
                  content: ""; position: absolute;
                  left: 0; top: 0; right: 0; bottom: 0;
                  background-color:rgba(204,255,204,0.5);
                  opacity: 0; transition: 1s; z-index: 100;
                }
                &:hover:after{
                    opacity: 1;
                }
                img{
                    width: 400px; height: 500px;
                }
            }
            .bb{
              color: @fontcolor; position: relative; top:-270px; left: 170px; font-size: 24px; background: @maincolor;
            }
            .cc{
              color: @fontcolor; position: relative; top:-270px; left: 450px; font-size: 24px; background: @maincolor;
            }
            .dd{
              color: @fontcolor; position: relative; top:-270px; left: 770px; font-size: 24px; background: @maincolor;
            }
        }
    .footcharging{
        width: 500px; height: 50px; border-bottom: 5px solid @maincolor; margin-top: 50px; margin-bottom: 50px; float: right; margin-right: 150px;
        span{
            float: right;
            a{
                font-size: 24px; color: @subcolor;
            }
        }
    }
}
//charging끝

// sub 슬라이드 시작
.subslidewrap{
    width: 100%; height:500px; overflow: hidden;
    li{
        >img{
            width: 100%;
            margin-top: -250px;
        }
        .subslideinfor{
            width: 400px; height: 300px; position: absolute; top: 250px; left: 400px;
            img{
                width: 230px; height: 250px;
            }
        }
        .subline1{
                position: absolute; top: 305px; left: 460px; display: block; font-weight: bold; font-size: 50px; color: @fontcolor;
        }
        .subline2{
            position: absolute; top: 385px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
    }
}
// sub 슬라이드 끝

//컨텐츠 시작
.content{
    width: 1400px; height: 1325px; margin: 0 auto; margin-top: 30px;
    // subone 사이드바1 전기차소개 시작
    .sidewrap{
        width: 180px; height: 1325px; float: left;
        ul{
            .side1{
                width: 180px; height: 70px; background: @maincolor; color: @fontcolor; font-size: 24px; text-align: center; border-bottom: 3px solid @subcolor;
                a{
                    color: @fontcolor;
                }
                .side1box{
                    width: 180px; height: 20px;
                    .topline{
                        width: 30px; height: 10px; background: @fontcolor; margin: 0 auto; position: relative; top:8px;
                    }
                }
            }
            .side2{
                width: 180px; height: 70px;  color: @maincolor; text-align: center; border-bottom: 1px solid @maincolor;
                &:hover{
                  background: @maincolor; border-bottom: 3px solid @subcolor;
                }
                &:hover a{
                  color: @fontcolor;
                }
                a{
                    font-size: 18px; text-align: center; color: @subcolor; position: relative; top: 20px; display: block;
                }
            }
        }
    }
    // subone 사이드바1 전기차소개 끝
    // subone 사이드바2 전기차소개 시작
    .side2wrap{
        width: 1170px; height: 145px; float: left; margin-left: 50px;
        h1{
             width: 585px; height: 50px; color: @subcolor; font-size: 36px; float: left;
        }
        .sidenav{
             width: 585px; height: 50px; float: left;
             p{
                font-size: 10px; float: right; padding-top: 35px; color: @subcolor;
             }
        }
        .sidedepth3{
            width: 1170px; height: 75px; background: @maincolor; float: left; margin-top: 20px;
            p{
                font-size: 24px; display: inline-block; padding-top: 18px; padding-left: 30px;
                a{
                    color: @fontcolor;
                }
            }
        }
        .side4{
            width: 1170px; height: 75px; float: left; margin-top: 20px;
            p{
                color: @subcolor; padding: 6px 20px;
            }
        }
    }
    // subone 사이드바2 전기차소개 끝
    //콘텐츠 작동원리 시작
    .content1{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content1head{
            width: 1170px; height: 100px;
            .headname{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                 width: 1170px; height: 50px; padding-left: 35px; padding-top: 12.5px; display: block; color: @subcolor;
            }
        }
        //콘텐츠 작동원리 시작
        .content1_1{
            width: 1170px; height: 380px;
            img{
                width: 543px; height: 335px; margin-left: 30px; margin-top: 30px; float: left;
            }
            span{
                width: 570px; display: block; float: left; margin-left: 13px; margin-top: 170px; color: @subcolor; font-size: 12px;
            }
        }
        .content1_2{
            width: 1170px; height: 600px;
            img{
                width: 400px; height: 558px; margin-left: 90px; float: left;
            }
            .content1_2infor{
                width: 570px; display: block; float: left; margin-left: 13px; margin-top: 80px; color: @subcolor; font-size: 12px;
            }
            span{
                width: 570px; display: block; float: left; margin-left: 13px; margin-top: 280px; color: @subcolor; font-size: 12px;
            }
        }
        //콘텐츠 작동원리 끝
        .origin{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor;padding-top: 10px;
            }
        }
    }
    //콘텐츠 작동원리 끝

    //콘텐츠 작동방식 시작
    .content2{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content2head{
            width: 1170px; height: 50px;
            .headname2{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
        }
        //콘텐츠 작동방식 시작
        .content2_1{
            width: 1170px; height: 500px;
            img{
                width: 1030px; height: 450px; margin-left: 70px; margin-top: 30px; float: left;
            }
        }
        .content2_2{
            width: 1170px; height: 500px;
            .infor2_2{
                width: 1170px; height: 125px;
                .inforname{
                    display: block; padding-left: 50px; padding-top: 10px; color: @subcolor; font-size: 18px;
                }
                span{
                    display: block; padding-left: 60px; padding-top: 5px; font-size: 12px; color: @subcolor;
                }
            }
        }
        //콘텐츠 작동방식 끝
        .origin2{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor;padding-top: 10px;
            }
        }
    }
    //콘텐츠 작동방식 끝

    //콘텐츠 환경적 시작
    .content3{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content3head{
            width: 1170px; height: 180px;
            .headname3{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 30px; display: block; font-size: 12px; padding-left: 25px; color: @subcolor;
            }
        }
        //콘텐츠 환경적 시작
        .content3_1{
            width: 1170px; height: 500px;
            img{
                width: 1030px; height: 450px; margin-left: 70px; margin-top: 30px; float: left;
            }
        }
        .content3_2head{
            width: 1170px; height: 100px;
            .headname3_2{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 30px; display: block; font-size: 12px; padding-left: 25px; color: @subcolor;
            }
        }
        .content3_2{
            width: 1170px; height: 300px;
            img{
                width: 585px; height: 300px; float: left;
            }
        }
        //콘텐츠 환경적 끝
        .origin3{
            width: 1170px; height: 30px; margin-top: 20px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px;
            }
        }
    }
    //콘텐츠 환경적 끝

    //콘텐츠 경제적 시작
    .content4{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content4head{
            width: 1170px; height: 130px;
            .headname4{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 30px; display: block; font-size: 12px; padding-left: 25px; color: @subcolor;
            }
        }
        //콘텐츠 경제적 시작
        .content4_1{
            width: 1170px; height: 400px;
            img{
                width: 700px; height: 400px; margin-left: 50px; float: left;
            }
        }
        .content4_2head{
            width: 1170px; height: 100px;
            .headname4_2{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 30px; display: block; font-size: 12px; padding-left: 25px; color: @subcolor;
            }
        }
        .content4_2{
            width: 1170px; height: 480px;
            img{
                width: 700px; height: 480px; float: left; margin-left: 50px;
            }
        }
        //콘텐츠 경제적 끝
        .origin4{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px;
            }
        }
    }
    //콘텐츠 경제적 끝

    //콘텐츠 산업적 시작
    .content5{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content5head{
            width: 1170px; height: 130px;
            .headname5{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 40px; display: block; font-size: 12px; padding-left: 25px; color: @subcolor;
            }
        }
        //콘텐츠 산업적 시작
        .content5_1{
            width: 1170px; height: 400px; margin-top: 20px;
            img{
                width: 700px; height: 400px; margin-left: 50px; float: left;
            }
        }
        .content5_2{
            width: 1170px; height: 480px;
            img{
                width: 700px; height: 480px; float: left; margin-left: 50px;
            }
        }
        //콘텐츠 산업적 끝
        .origin5{
            width: 1170px; height: 30px;
            span{
                float: left; font-size: 12px; color: @subcolor; padding-top: 10px; padding-left: 50px;
            }
        }
    }
    //콘텐츠 산업적 끝

    //콘텐츠 전기자동차 구매보조 시작
    .content6{
        width: 1170px; height: 1150px; float: left; margin-left: 50px; margin-top: 30px;
        .content6head{
            width: 1170px; height: 130px;
            .headname6{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 40px; font-size: 12px; display: block; color: @subcolor; padding-left: 25px;
            }
        }
        .content6_1head{
            width: 1170px; height: 180px;
            .headname6_1{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            .head6_1{
                width: 1170px; height: 40px; font-size: 15px; display: block; color: @subcolor; padding-left: 25px;
            }
            span{
                width: 1170px; height: 40px; font-size: 12px; display: block; color: @subcolor; padding-left: 45px;
            }
        }
        .content6_2head{
            width: 1170px; height: 230px;
            h3{
                font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            .ten{
                width: 1170px; height: 20px; font-size: 15px; text-align: right;
            }
            .table6_2{
                table{
                    border-spacing: 0;
                    colgroup{
                        col{
                            width: 8%;
                        }
                    }
                    thead{
                        display: table-header-group; vertical-align: middle; border-color: inherit;
                        tr{
                            display: table-row; vertical-align: inherit; border-color: inherit;
                            th{
                                text-align: center; font-size: 18px; padding: 20px 0; border-bottom: 1px solid #d5d5d5; border-top: 2px solid #555; background: #fafafa;
                            }
                        }
                    }
                    tbody{
                        display: table-row-group; vertical-align: middle; border-color: inherit;
                        tr{
                            display: table-row; vertical-align: inherit; border-color: inherit;
                            td{
                                text-align: center; font-size: 18px; padding: 20px 0; border-bottom: 1px solid #d5d5d5; color: @subcolor;
                            }
                        }
                    }
                }
            }
        }
        .content6_3head{
            width: 1170px; height: 450px;
            h3{
                font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            .pad{
                width: 1170px; height: 10px;
            }
            .table6_3{
                table{
                    border-spacing: 0;
                    colgroup{
                        col{
                            width: 8%;
                        }
                    }
                    thead{
                        display: table-header-group; vertical-align: middle; border-color: inherit;
                        tr{
                            display: table-row; vertical-align: inherit; border-color: inherit;
                            th{
                                text-align: center; font-size: 18px; padding: 20px 0; border-bottom: 1px solid #d5d5d5; border-top: 2px solid #555; background: #fafafa;
                            }
                        }
                    }
                    tbody{
                        display: table-row-group; vertical-align: middle; border-color: inherit;
                        tr{
                            display: table-row; vertical-align: inherit; border-color: inherit;
                            td{
                                text-align: center; font-size: 18px; padding: 20px 0; border-bottom: 1px solid #d5d5d5; color: @subcolor;
                            }
                        }
                    }
                }
            }
        }
        .origin6{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px; padding-left: 50px;
            }
        }
    }
    //콘텐츠 전기자동차 구매보조 끝

    //콘텐츠 전기자동차 신청절차 시작
    .content7{
        width: 1170px; height: 1000px; float: left;  margin-left: 50px; margin-top: 30px;
        .content7head{
            width: 1170px; height: 50px;
            .headname7{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            img{
                width: 859px; height: 404px;
            }
        }
        //콘텐츠 전기자동차 신청절차 시작
        .content7infor{
            width: 1170px; height:300px; margin-top: 450px;
            span{
                padding-left: 20px; padding-bottom: 20px; display: block; color: @subcolor;
            }
        }
        //콘텐츠 전기자동차 신청절차 끝
        .origin7{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px; padding-left: 50px;
            }
        }
    }
    //콘텐츠 전기자동차 신청절차 끝

    //콘텐츠 전기자동차 보조금대상차종 시작
    .content8{
        width: 1170px; height: 1000px; float: left;  margin-left: 50px; margin-top: 30px;
        .content8head{
            width: 1170px; height: 50px;
            .headname8{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
        }
        //콘텐츠 전기자동차 보조금대상차종 시작

        //콘텐츠 전기자동차 보조금대상차종 끝
    }
    //콘텐츠 전기자동차 보조금대상차종 끝

    //콘텐츠 충전기 구매보조 시작
    .content9{
        width: 1170px; height: 1150px; float: left;  margin-left: 50px; margin-top: 30px;
        .content9head{
            width: 1170px; height: 290px;
            .headname9{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width: 1170px; height: 40px; font-size: 15px; display: block; color: @subcolor; padding-left: 25px;
            }
            .head9{
                padding-left: 40px; font-size: 12px;
            }
        }
        .content9_1head{
            width: 1170px; height: 650px;
            .headname9_1{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            .content9box{
                height: 600px; float: left; margin-left: 65px; padding: 0px 35px 0px 42px; text-align: center;
                img{
                    display: inline-block; margin-bottom: 40px;
                }
                dl{
                    display: table-row;
                    font-size: 14px;
                    padding-left: 20px;
                    dt,dd{
                        height: 50px;  display: table-cell;padding: 0px 5px; text-align: left; vertical-align: middle; letter-spacing: -1px;
                    }
                    dt{
                        width: 140px;
                        background: url(../../assets/images/charging_line.gif) no-repeat 0 bottom;
                        color: @maincolor; font-weight: bold;
                    }
                    dd{
                        width: 250px; border-bottom: 1px solid #e3e3e3; color: #666; line-height: 1.2em;
                    }
                }
            }
            p{
                width: 1170px; float: left; font-size: 13px; color: @subcolor;
            }
        }
        .origin9{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px; padding-left: 50px;
            }
        }
    }
    //콘텐츠 충전기 구매보조 끝

    //콘텐츠 충전기 신청절차 시작
    .content10{
        width: 1170px; height: 700px; float: left;  margin-left: 50px; margin-top: 30px;
        .content10head{
            width: 1170px; height: 50px;
            .headname10{
                width: 1170px; height: 50px; font-size: 24px; color: @maincolor; padding-left: 10px; padding-top: 7.5px;
            }
            span{
                width:1170px; height: 411px; display: block; margin-top: 10px; float: left;
                img{
                     margin-left: 30px;
                }
            }
        }
        .origin10{
            width: 1170px; height: 30px;
            span{
                float: right; font-size: 12px; color: @subcolor; padding-top: 10px; padding-left: 50px;
            }
        }
    }
    //콘텐츠 충전기 신청절차 끝

    //sidedetpth3없는거 시작
    .side3wrap{
        width: 1170px; height: 70px; float: left; margin-left: 50px;
        h1{
             width: 585px; height: 50px; color: @subcolor; font-size: 36px; float: left;
        }
        .sidenav3{
             width: 585px; height: 50px; float: left;
             p{
                font-size: 10px; float: right; padding-top: 35px; color: @subcolor;
             }
        }
    }
    //sidedetpth3없는거 끝

    // 콘텐츠 전기자동차후기 시작
    .bloglist{
        width: 1170px; height:1140px; float: left;  margin-left: 50px; margin-top: 20px;
        .search{
            width: 1170px; height: 40px;
            fieldset{
                border: 0 none; float: right; margin-right: 15px;
                legend{
                    display: none;
                }
                .cell_select{
                    float: left; height: 40px; text-align: left;
                    label{
                        display: none;
                    }
                    select{
                        border: 1px solid #d1d1d1; width: 100%; line-height: 40px; height: 40px; color: #474747; padding-left: 5px; min-width: 100px;
                    }
                }
                .cell_input{
                    float: left; height: 40px; text-align: left;
                    label{
                        display: none;
                    }
                    input[type=text]{
                        line-height: 38px; height: 38px; width: 260px; padding: 0 5px; border: 1px solid #d1d1d1; margin-left: 10px;
                    }
                    input[type=button]{
                        width: 100px; height: 40px; background: #474747 url(../../assets/images/search.png) 15px 50% no-repeat;
                        cursor: pointer; float: right; color: @fontcolor; margin-left: 10px; font-size: 16px; text-align: left; text-indent: 50px; font-weight: 300; border: 1px solid @subcolor;
                    }
                }
            }
        }
        .blogtable{
            width: 1170px; height: 950px; margin-top: 20px;
            table{
                border-spacing: 0;
                thead{
                    display: table-row-group; vertical-align: left; border-color: inherit;
                    tr{
                        display: table-row; vertical-align: inherit; border-color: inherit;
                        th{
                            text-align: center; border-bottom: 2px solid @subcolor; padding: 30px 20px; vertical-align: middle; color: #787878; font-size: 16px; border-top: 2px solid @subcolor;
                        }
                        .trleft{
                            text-align: left;
                        }
                    }
                }
                tbody{
                    display: table-row-group; vertical-align: left; border-color: inherit;
                    tr{
                        display: table-row; vertical-align: inherit; border-color: inherit;
                        td{
                            text-align: center; border-bottom: 1px solid #d1d1d1; padding: 30px 20px; vertical-align: middle; color: #787878; font-size: 14px;
                        }
                        .of{
                            width: 740px; text-align: left;
                            a{
                                color: @subcolor;
                            }
                        }
                        .da{
                            width: 95px;
                        }
                    }
                }
            }
        }
        .write_button{
          width: 1170px; height: 50px;
          input[type=button]{
            width: 150px; height: 48px; background: none; border: 1px solid @maincolor; float: right; margin-right: 20px;
          }
        }
        .paging{
            width: 1170px; height: 70px; margin-top: 30px; text-align: center;
            .page_number{
                .boxprev{
                    width: 40px; height: 40px; background: @fontcolor; display: inline-block; position: relative; top: 16px; line-height: 40px; font-size: 13px; text-align: center; border: 1px solid #d1d1d1; margin: 0 1px;
                    &:before{
                        width: 10px; height: 2px; content: ""; background: #d1d1d1; position: absolute; top:15px; left:13px; display: block; transform: rotate(-45deg);
                    }
                    &:after{
                        width: 10px; height: 2px; background: #d1d1d1; content: ''; display: block; position: absolute; top: 21px; left: 13px; transform: rotate(45deg);
                    }
                }
                span{
                    text-align: center;
                    a{
                        display: inline-block; width: 40px; height: 40px; line-height: 40px; background: #fff; color: #444; font-size: 13px; text-align: center; border: 1px solid #d1d1d1; margin: 0 1px;
                        &:first-child{
                            color: #fff; background: #474747; border: 1px solid #474747;
                        }
                    }
                }
                .boxnext{
                    width: 40px; height: 40px; background: @fontcolor; display: inline-block; position: relative; top: 16px; line-height: 40px; font-size: 13px; text-align: center; border: 1px solid #d1d1d1; margin: 0 1px;
                    &:before{
                        width: 10px; height: 2px; content: ""; background: #d1d1d1; position: absolute; top:15px; left:15px; display: block; transform: rotate(45deg);
                    }
                    &:after{
                        width: 10px; height: 2px; background: #d1d1d1; content: ''; display: block; position: absolute; top: 21px; left: 15px; transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    // 콘텐츠 전기자동차후기 끝
    // sub17작성페이지 시작
    .formcontent{
        width: 1170px; height:380px; float: left;  margin-left: 50px; margin-top: 20px;
        .write{
            width: 1170px; height: 40px;
            fieldset{
                border: 0 none; margin-right: 15px;
                legend{
                    display: none;
                }
                .write_select{
                    float: left; height: 40px; text-align: left;
                    label{
                        display: none;
                    }
                    select{
                        border: 1px solid #d1d1d1; width: 100%; line-height: 40px; height: 40px; color: #474747; padding-left: 5px; min-width: 100px;
                    }
                }
                .write_input{
                    float: left; height: 40px; text-align: left;
                    label{
                        display: none;
                    }
                    input[type=text]{
                        line-height: 38px; height: 38px; width: 1020px;  border: 1px solid #d1d1d1; margin-left: 10px;
                    }
                }
            }
        }
        .formwrap{
            width: 1170px; margin-top: 20px;
        }
        .write_click{
            width: 1170px; background: #f00;
            input[type=button]{
                width: 100px; height: 30px; float: right; margin-top: 20px; border: 0 none; color: @maincolor; border: 1px solid @maincolor;
            }
        }
    }
    // sub17작성페이지 끝

    //콘텐츠 전기자동차후기 내용 시작
    .blogcontent{
        width: 1170px; height:1200px; float: left;  margin-left: 50px; margin-top: 20px;
        h2{
            font-size: 26px; display: block; padding: 20px 0;
        }
        .contentname{
            width: 1170px; height: 30px; border-bottom: 1px solid @maincolor;
            span{
                margin-right: 10px; color: #232323;
            }
            em{
                background: url(../../assets/images/bbs_vline.gif) right no-repeat;
                padding-right: 20px; margin-right: 20px; color: #666;
            }
        }
        .view_content{
            width: 1130px; height: 300px; padding: 20px; border-bottom: 1px solid @maincolor;
            p{
                line-height: 24px;
                font-size: 16px;
            }
        }
        .view_content2{
            width: 1130px; height: 200px; padding: 20px; border-bottom: 1px solid @maincolor;
            p{
                line-height: 24px;
                font-size: 16px;
            }
        }
        .view_content3{
            width: 1168px; height: 200px;
            input[type=text]{
                width: 100%; height: 100%; border: 1px solid @subcolor;
            }
            input[type=button]{
                float: right; margin-top: 10px; background: @maincolor; width: 100px; height: 35px; color: @fontcolor; border: 0 none;
            }
        }
        .listback{
            width: 1170px; height: 40px; float: left; margin-top: 20px;
            a{
                width: 100px; height: 30px; border: 1px solid @maincolor; color: @subcolor; font-size: 16px; float: right; text-align: center; padding-top: 5px;
            }
        }
    }
    //콘텐츠 전기자동차후기 내용 끝

    //콘텐츠 로그인 시작
    .loginwrap{
        width: 1170px; height:700px; float: left;  margin-left: 50px; margin-top: 20px;
        .logininfor{
            width: 1150px; height: 70px; font-size: 20px; padding-left: 20px; color: @subcolor;
        }
        .login_form{
            padding: 100px 0; width: 560px; margin: 0 auto; position: relative; padding-left: 155px;
            form{
                input{
                    border: 1px solid #e5e5e5; background-color: #fafafa; padding: 4px 5px; font-size: 16px; font-family: 'NanumGothicBlod'; width: 280px;
                }
                .input_cont{
                    p{
                        line-height: 18px;
                    }
                    .mt10{
                        margin-top: 10px;
                    }
                    .btnlogin{
                        position: absolute; left: 480px; top: 60px;
                        a{
                            background: @maincolor; height: 100px; width: 100px; display: block; float: left; text-align: center; font-size: 16px; line-height: 100px; color: @fontcolor; border-radius: 7px; margin-top: 25px; margin-right: 10px;
                        }
                    }
                }
            }
        }
        .login_check{
            background: #fafafa; padding: 20px; overflow: hidden; border: 1px solid #d5d5d5; margin-top: 20px;
            div{
                width: 35%; float: left; font-size: 14px; margin-left: 10%;
                p{
                    display: inline-block; color: @subcolor;
                }
                .btn1{
                     padding: 10px 20px; background: @maincolor; color: @fontcolor; font-size: 16px; display: inline-block; margin-left: 20px;
                }
            }
        }
    }
    //콘텐츠 로그인 끝

    //콘텐츠 충전소안내 시작
    .chargingstation{
        width: 1170px; height:700px; float: left;  margin-left: 50px; margin-top: 20px;
        .searchwrap{
            padding: 20px 0px; margin-bottom: 30px; text-align: center; border-top: 1px solid @maincolor; border-bottom: 1px solid @maincolor;
            strong{
                padding-right: 20px; color: @subcolor; font-size: 15px; line-height: 40px;
            }
            span{
                select{
                    display: inline-block; width: 298px; height: 38px; margin-right: 8px; border: 1px solid #c8c8c8; font-size: 14px; color: @subcolor;
                }
            }
            input[type=button]{
                width: 150px; height: 38px; background: @maincolor; border: 0 none; color: @fontcolor; font-size: 12px;
            }
        }
        table{
            width: 100%; font-size: 14px; border-collapse: collapse;
            colgroup{
              display: table-column-group;
              col{
                width: 25%;
              }
            }
            tbody{
                display: table-row-group; vertical-align: middle; border-color: inherit;
                tr{
                  display: table-row; vertical-align: inherit; border-color: inherit;
                    th{
                        height: 55px; background: @maincolor; color: @fontcolor; border: 1px solid @subcolor;
                        font-weight: normal; display: table-row; vertical-align: inherit; border-color: inherit;
                        display: table-cell; vertical-align: inherit;
                    }
                    td{
                        padding: 11px 16px; border: 1px solid #ccdce2; color: @subcolor; text-align: center;
                        display: table-cell; vertical-align: inherit;
                    }
                    .subtable{
                      width: 100%; border-collapse: collapse; padding: 0;
                      tbody{
                        display: table-row-group; vertical-align: middle; border-color: inherit;
                        tr{
                          display: table-row; vertical-align: inherit; border-color: inherit;
                          th{
                            &:first-child{border-left: 0;}
                            background: @maincolor; color: @fontcolor; font-weight: normal; display: table-cell; vertical-align: inherit;
                          }
                          td{
                            padding: 11px 16px; border: 1px solid #ccdce2;color: #666;text-align: center;display: table-cell;vertical-align: inherit;
                          }
                        }
                      }
                    }
                }
            }
        }
        .charginginfor{
          width: 1170px; height: 200px; margin-top: 50px;
          span{
            color: @subcolor; font-size: 24px; padding-left: 10px;
          }
          ul{
            width: 1100px; height: 100px;  margin: 0 auto; margin-top: 20px;
            li{
              width: 32.5%; height: 100%; border: 3px solid @maincolor; display: inline-block; text-align: center;
              &:hover{
                  border: 3px solid @subcolor; background: @maincolor;
              }
              &:hover a{
                  color: @fontcolor;
              }
              a{
                display: block; margin-top: 35px; color: @subcolor;
              }
            }
          }
        }
    }
    //콘텐츠 충전소안내 끝

    //콘텐츠 충전소지도 시작
    .chargingmap{
        width: 1170px; height:700px; float: left;  margin-left: 50px; margin-top: 20px;
    }

    //콘텐츠 충전소지도 끝

}
// 컨텐츠 끝

//footer시작
.footer{
    width: 100%; height: 200px; border-top: 1px solid @maincolor;
    .footwrap{
        width: 1400px; height: 100%; margin: 0 auto;
        .footlogo{
            width: 201px; height: 48px; display: inline-block; margin-top: 77px;
            img{
                width: 201px; height: 48px;
            }
        }
        .footinfor{
            width: 530px; float: right; margin-top: 77px;
            span{
                display: block; font-size: 12px;
            }
        }
    }
}
//footer끝

//반응형 top부분 시작(1330px)
@media screen and (max-width:1330px){
    .login{
        float: right;
    }
    .menu{
        float: left;
        .depth1{
            .depth1_1{
                position: absolute; left: 260px;
            }
        }
    }
    .slidewrap{
      width: 100%; overflow: hidden;
      .main1{
            width: 100%;
        img{
            width: 100%;
        }
        .slideinfor{
            position: absolute; top: 230px; left: 200px;
            img{
              width: 150px; height: 180px;
            }
        }
        .line{
            position: absolute; top: 260px; left: 260px;
            display: block; font-weight: bold; font-size: 28px; color: @fontcolor;
        }
        .line2{
            position: absolute; top: 300px; left: 260px; display: block; font-size: 28px; color: @fontcolor;
        }
        .line3{
            position: absolute; top: 340px; left: 260px; display: block; font-size: 28px; color: @fontcolor;
        }
        .ecobutton{
            width: 80px; height: 30px; position: absolute; top: 430px; left: 230px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 12px;
            a{
               color: @fontcolor;
            }
            &:hover{
              background: @maincolor;
            }
        }
    }
  }
}
//반응형 top부분 끝(1330px)

//반응형 top부분 시작(1200px)
@media screen and (max-width:1200px) {
    .top{
      .depthback{
          position: absolute; left: -9999px;
      }
      .login{
        display: none;
      }
      .menu{
          float: left;
          .logo{
            margin-top: 40px;
          }
          .depth1{
              .depth1_1{
                  display: none;
              }
          }
          .eco{
            display: none;
          }
      }
    }

    .slidewrap{
      width: 100%; overflow: hidden;
      .main1{
            width: 100%;
        img{
            width: 100%;
        }
        .slideinfor{
            position: absolute; top: 180px; left: 150px;
            img{
              width: 150px; height: 180px;
            }
        }
        .line{
            position: absolute; top: 210px; left: 220px;
            display: block; font-weight: bold; font-size: 28px; color: @fontcolor;
        }
        .line2{
            position: absolute; top: 250px; left: 220px; display: block; font-size: 28px; color: @fontcolor;
        }
        .line3{
            position: absolute; top: 290px; left: 220px; display: block; font-size: 28px; color: @fontcolor;
        }
        .ecobutton{
            width: 80px; height: 30px; position: absolute; top: 380px; left: 200px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 12px;
            a{
               color: @fontcolor;
            }
            &:hover{
              background: @maincolor;
            }
        }
    }
}
}
//반응형 top부분 끝(1200px)
//반응형 top부분 시작(950px)
@media screen and (max-width:950px) {
    .login{
      display: none;
    }
    .slidewrap{
      width: 100%; overflow: hidden;
      .main1{
            width: 100%;
        img{
            width: 100%;
        }
        .ecobutton{
            width: 80px; height: 30px; position: absolute; top: 320px; left: 600px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 12px;
            a{
               color: @fontcolor;
            }
            &:hover{
              background: @maincolor;
            }
        }
    }
    }
}
//반응형 top부분 끝(950px)
//반응형 top부분 시작(760px)
@media screen and (max-width:760px) {
  .slidewrap{
    width: 100%; overflow: hidden;
    .main1{
          width: 100%;
      img{
          width: 100%;
      }
      .slideinfor{
          position: absolute; top: 150px; left: 150px;
          img{
            width: 150px; height: 180px;
          }
      }
      .line{
          position: absolute; top: 180px; left: 220px;
          display: block; font-weight: bold; font-size: 28px; color: @fontcolor;
      }
      .line2{
          position: absolute; top: 220px; left: 220px; display: block; font-size: 28px; color: @fontcolor;
      }
      .line3{
          position: absolute; top: 260px; left: 220px; display: block; font-size: 28px; color: @fontcolor;
      }
      .ecobutton{
          width: 80px; height: 30px; position: absolute; top: 280px; left: 500px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 12px;
          a{
             color: @fontcolor;
          }
          &:hover{
            background: @maincolor;
          }
      }
  }
}
}
//반응형 top부분 끝(760px)
//반응형 top부분 시작(640px)
@media screen and (max-width:640px) {
  .slidewrap{
    width: 100%; overflow: hidden;
    .main1{
          width: 100%;
      img{
          width: 100%;
      }
      .slideinfor{
          display: none;
      }
      .line{
          display: none;
      }
      .line2{
          display: none;
      }
      .line3{
        display: none;
      }
      .ecobutton{
          width: 80px; height: 30px; position: absolute; top: 210px; left: 100px; border: 2px solid @fontcolor; text-align: center; padding-top: 10px; font-size: 12px;
          a{
             color: @fontcolor;
          }
          &:hover{
            background: @maincolor;
          }
      }
  }
}
}
//반응형 top부분 끝(640px)

// 반응형  effect부분 시작(1330px)
@media screen and (max-width:1330px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 125px;
          }
          h2{
              margin-right: 120px;
          }
          img{
              margin-left: 632px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 135px;
          }
      }
  }
}
// 반응형  effect부분 끝(1330px)
// 반응형  effect부분 시작(1250px)
@media screen and (max-width:1250px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 170px;
          }
          h2{
              margin-right: 160px;
          }
          img{
              margin-left: 612px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 120px;
          }
      }
  }
}
// 반응형  effect부분 끝(1250px)
// 반응형  effect부분 시작(1100px)
@media screen and (max-width:1100px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 350px;
          }
          h2{
              margin-right: 340px;
          }
          img{
              margin-left: 502px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 70px;
          }
      }
  }
}
// 반응형  effect부분 끝(1100px)
// 반응형  effect부분 시작(940px)
@media screen and (max-width:940px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 420px;
          }
          h2{
              margin-right: 410px;
          }
          img{
              margin-left: 480px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 40px;
          }
      }
  }
}
// 반응형  effect부분 끝(940px)
// 반응형  effect부분 시작(850px)
@media screen and (max-width:850px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 490px;
          }
          h2{
              margin-right: 480px;
          }
          img{
              margin-left: 450px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 10px;
          }
      }
  }
}
// 반응형  effect부분 끝(770px)
@media screen and (max-width:770px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 560px;
          }
          h2{
              margin-right: 550px;
          }
          img{
              margin-left: 400px;
          }
      }
      .iconwrap{
          .energy{
              margin-left: 0px;
          }
      }
  }
}
// 반응형  effect부분 끝(770px)
// 반응형  effect부분 끝(650px)
@media screen and (max-width:650px){
  .effectwrap{
      .scrollone{
          h1{
              margin-right: 730px;
          }
          h2{
              margin-right: 740px;
          }
          img{
              margin-left: 320px;
          }
      }
      .iconwrap{
          width: 640px;
          .energy{
              width: 200px;
          }
      }
  }
}
// 반응형  effect부분 끝(650px)

//electric car subsidy시작(1380px)
@media screen and (max-width:1380px){
    .subsidywrap{
        .carwrap{
            width: 1200px;
            .car1{
                width: 395px;
                .carimg{
                    width: 250px;
                    img{
                        width: 250px;
                    }
                }
            }
        }
    }
}
//electric car subsidy끝(1380px)

//electric car subsidy시작(1260px)
@media screen and (max-width:1260px){
    .subsidywrap{
        .scrolltwo{
            width: 1000px;
            img{
                margin-left: 500px;
            }
        }
        .carwrap{
            width: 1000px;
            .car1{
                width: 328px;
                .carbox{
                    width: 245px;
                }
                .carname{
                    font-size: 24px; top: 77px; left: 30px;
                }
                .carimg{
                    width: 245px;right: -22px;
                    img{
                        width: 245px; height: 180px;
                    }
                }
            }
        }
    }
}
//electric car subsidy끝(1260px)

//electric car subsidy시작(1010px)
@media screen and (max-width:1010px){
    .subsidywrap{
        .scrolltwo{
            width: 900px;
            img{
                margin-left: 400px;
            }
        }
        .carwrap{
            width: 1000px;
            .car1{
                width: 328px;
                .carbox{
                    width: 245px;
                }
                .carname{
                    font-size: 24px; top: 77px; left: 30px;
                }
                .carimg{
                    width: 245px;right: -22px;
                    img{
                        width: 245px; height: 180px;
                    }
                }
            }
        }
    }
}
//electric car subsidy끝(1010px)

//electric car subsidy시작(950px)
@media screen and (max-width:950px){
    .subsidywrap{
        .scrolltwo{
            width: 700px;
            img{
                margin-left: 300px;
            }
        }
        .carwrap{
            width: 800px;
            .car1{
                width: 260px;
                .carbox{
                    width: 215px;
                }
                .carname{
                    font-size: 24px; top: 77px; left: 50px;
                }
                .carimg{
                    display: none;
                }
            }
        }
    }
}
//electric car subsidy끝(950px)

//electric car subsidy시작(785px)
@media screen and (max-width:785px){
    .subsidywrap{
        .scrolltwo{
            width: 640px;
            img{
                margin-left: 280px;
            }
        }
        .carwrap{
            width: 600px;
            .car1{
                width: 195px;
                .carbox{
                    width: 160px;
                    height: 140px;
                }
                .carname{
                    font-size: 20px; top: 60px; left: 25px;
                }
                .carimg{
                    display: none;
                }
            }
        }
        .footcar{
            margin-right: 70px;
        }
    }
}
//electric car subsidy끝(785px)

//blog 시작(1300px)
@media screen and (max-width:1300px){
  .blogwrap{
      .blogmain{
          width: 1200px;
          .blog1,.blog2,.blog3{
              width: 200px;
              .blog1box,.blog2box,.blog3box{
                  width: 200px;
                  img{
                      width: 200px;
                  }
              }
              .bloginfor{
                  width: 200px;
              }
          }
      }
  }
}
//blog 끝(1300px)

//blog 시작(1200px)
@media screen and (max-width:1200px){
  .blogwrap{
      .scrollthree{
          width: 1200px;
          img{
            margin-left: 580px;
          }
      }
  }
}
//blog 끝(1200px)

//blog 시작(1150px)
@media screen and (max-width:1150px){
  .blogwrap{
      .blogmain{
          width: 1000px;
          .blog1,.blog2,.blog3{
              width: 180px; height: 180px; margin-left: 130px;
              .blog1box,.blog2box,.blog3box{
                  width: 180px; height: 180px;
                  img{
                      width: 180px; height: 180px;
                  }
              }
              .bloginfor{
                  width: 180px;
              }
          }
      }
  }
}
//blog 끝(1150px)

//blog 시작(1000px)
@media screen and (max-width:1000px){
  .blogwrap{
    .scrollthree{
        width: 1000px;
        img{
          margin-left: 480px;
        }
    }
      .blogmain{
          width: 800px;
          .blog1,.blog2,.blog3{
               margin-left: 80px;
          }
      }
  }
}
//blog 끝(1000px)

//blog 시작(850px)
@media screen and (max-width:850px){
  .blogwrap{
      .scrollthree{
          width: 850px;
          img{
            margin-left: 380px;
          }
      }
  }
}
//blog 끝(850px)

//blog 시작(820px)
@media screen and (max-width:820px){
  .blogwrap{
      .blogmain{
          width: 1000px;
          .blog1,.blog2,.blog3{
              width: 180px; height: 180px; margin-left: 130px;
              .blog1box,.blog2box,.blog3box{
                  width: 180px; height: 180px;
                  img{
                      width: 180px; height: 180px;
                  }
              }
              .bloginfor{
                  width: 180px;
              }
          }
      }
  }
}
//blog 끝(820px)
