// nav시작
.top{
    width: 100%; height: 125px; position: relative; border-bottom: 1px solid @maincolor;
    .login{
        width: 70%; height: 25px; margin: 0 auto;
        .login_nav{
            width: 140px; height: 25px; float: right;
            a{
                font-size: 10px; color: @subcolor; padding-right: 5px;
            }
        }
    }
    .menu{
        width: 70%;; height: 100px; margin: 0 auto;
        .logo{
            width: 201px; height: 48px; background: url(../../assets/images/logo.png);
            background-color: #fff; float: left; margin-top: 26px;
        }
        .eco{
            width: 300px; height: 150px; position: absolute; top: 125px; display: none;
            .ecostory{
                width: 130px; height: 70px; background: @maincolor; position: absolute; top: 30px; left: 25px;
                .ecocar{
                    display: block; text-align: center; padding-top: 7px; font-weight: bold; font-size: 20px; color: @fontcolor;
                }
                .story{
                    display: block; padding-left: 25px; font-size: 16px; color: @fontcolor;
                }
            }
            .ecoinfor{
                width: 130px; height: 70px;  position: absolute; top: 30px; right: 0;
                .in{
                    display: block; font-size: 11px; padding-top: 17px; color: @subcolor;
                }
                .for{
                    display: block; font-size: 11px; color: @subcolor;
                }
            }
        }
        .depth1{
            position: relative;
            .depth1_1{
                width: 950px; position: absolute; top: 40px; right: 0;
                .depth1_2{
                    width: 180px; display: inline-block;
                    a .top_nav{
                        display: block; text-align: center;
                    }
                }
            }
            .depth2{
                position: relative;
                .depth2_1{
                    width: 185px; position: absolute; top:36px; display: none;
                    .depth2_2{
                        width: 180px; height: 150px;display: inline-block; margin: 0 auto;
                        a .bottom_nav{
                            display: block; text-align: center; margin-top: 15px; color: @subcolor;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px){

}
// nav끝

// index 슬라이드시작
.slidewrap{
    height: 100%; position: relative;
    .main1{
        width: 100%; height: 100%;
        img{
            width: 100%; height: 100%;
        }
        .slideinfor{
            width: 40%; height: 350px; position: absolute; top: 15%;; left: 21%;
            img{
                width: 30%; height: 250px;
            }
        }
        .line{
            position: absolute; top: 130px; left: 460px; display: block; font-weight: bold; font-size: 48px; color: @fontcolor;
        }
        .line2{
            position: absolute; top: 190px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
        .line3{
            position: absolute; top: 250px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
        .ecobutton{
            width: 150px; height: 40px; position: absolute; top: 380px; left: 450px; color: @fontcolor; border: 1px solid @fontcolor; text-align: center; padding-top: 5px;
        }
        .slidebutton{
            width: 70px; height: 30px; position: absolute; top: 600px; left: 920px;
            .one{
                width: 15px; height: 15px; background: @maincolor; border-radius: 15px; text-indent: -9999px; border: @maincolor; margin-left: 4px;
            }
        }
    }
}
// index 슬라이드끝

// 효과시작
.effectwrap{
    width: 100%; height: 100%; margin-top: 30px;
    .scrollone{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .iconwrap{
        width: 1400px; height: 400px; margin: 0 auto;
        .energy{
            width: 250px; height: 200px; float: left; margin-left: 160px; margin-top: 80px;
            img{
                padding-left: 90px; padding-top: 20px;
            }
            .energyinfor{
                width: 250px; height: 130px; margin-top: 20px;
                span{
                    display: block; text-align: center;color: @subcolor; font-size: 12px; padding-top: 5px;
                }
            }
        }
    }
}
// 효과끝

// 차종알아보기시작
.subsidywrap{
    width: 100%; height: 100%; margin-top: 30px; background: @mainbackground;
    .scrolltwo{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px; padding-top: 20px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .carwrap{
        width: 1400px; height: 400px; margin: 0 auto; margin-top: 50px;
        .car1{
            width: 460px; height: 180px; float: left; margin-left: 5px; margin-top: 12px; position: relative;
            .carbox{
                width: 300px; height: 180px; border: 7px solid @maincolor; display: block;
            }
            .carname{
                 width: 120px; height: 30px; font-size: 36px; color: @subcolor; display: block; position: absolute; left: 50px; top: 63px; text-align: center;
            }
            .carimg{
                width: 300px; height: 180px; display: block; position: absolute; top: 0; right: 0;
                img{
                    width: 300px; height: 180px;
                }
            }
        }
    }
    .footcar{
        width: 500px; height: 50px; display: inline-block; border-bottom: 5px solid @maincolor; margin-top: 50px; margin-left: 1100px; margin-bottom: 50px;
        span{
            font-size: 24px; color: @subcolor; float: right;
        }
    }
}
// 차종알아보기끝

//블로그시작
.blogwrap{
    width: 100%; height: 100%; margin-top: 30px;
    .scrollthree{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .blogmain{
        width: 1400px; height: 500px; margin: 0 auto;
        .blog1,.blog2,.blog3{
            width: 250px; height: 270px; float: left; margin-left: 162.5px; margin-top: 80px;
            .blog1box,.blog2box,.blog3box{
                width: 250px; height: 230px; float: left;
                img{
                    width: 250px; height: 230px;
                }
            }
            .bloginfor{
                width: 250px; height: 40px; display: inline-block; text-align: center; font-size: 20px; color: @subcolor; margin-top: 10px;
            }
        }
    }
}
//블로그끝

//charging시작
.chargingwrap{
    width: 100%; height: 100%; margin-top: 30px; background: @mainbackground;
    .scrollfour{
        width: 1400px; height: 200px; margin: 0 auto;
        h1{
            text-align: center; color: @maincolor; font-size: 48px; padding-top: 20px;
        }
        h2{
            text-align: center; color: @subcolor; font-size: 24px; font-weight: normal;
        }
        img{
            width: 15px; height: 33px; margin-left: 680px; margin-top: 50px;
        }
    }
    .chargingimg{
        width: 70%; height: 500px; margin: 0 auto; margin-top: 50px; display: block;
        img{
            width: 33%; height: 100%;
        }
    }
    .footcharging{
        width: 500px; height: 50px; display: inline-block; border-bottom: 5px solid @maincolor; margin-top: 50px; margin-left: 1100px; margin-bottom: 50px;
        span{
            font-size: 24px; color: @subcolor; float: right;
        }
    }
}
//charging끝

// sub 슬라이드 시작
.subslidewrap{
    width: 100%; height:500px;
    li{
        img{
            width: 100%; height: 500px;
        }
        .subslideinfor{
            width: 40%; height: 350px; position: absolute; top: 25%;; left: 21%;
            img{
                width: 30%; height: 250px;
            }
        }
        .subline1{
                position: absolute; top: 285px; left: 460px; display: block; font-weight: bold; font-size: 48px; color: @fontcolor;
        }
        .subline2{
            position: absolute; top: 365px; left: 460px; display: block; font-size: 48px; color: @fontcolor;
        }
    }
}
// sub 슬라이드 끝

//컨텐츠 시작
.content{
    width: 1400px; height: 600px;; margin: 0 auto; margin-top: 30px; background: #f00;
    // subone 사이드바1 전기차소개 시작
    .sidewrap{
        width: 180px; height: 600px; background: #f0f; float: left;
        ul{
            .side1{
                width: 180px; height: 70px; background: @maincolor; color: @fontcolor; font-size: 24px; text-align: center;
                .side1box{
                    width: 180px; height: 20px;
                    .topline{
                        width: 30px; height: 10px; background: @fontcolor; margin: 0 auto; position: relative; top:8px;
                    }
                }
            }
            .side2{
                width: 180px; height: 70px;  color: @maincolor; text-align: center; border-bottom: 1px solid @maincolor;
                a{
                    font-size: 18px; text-align: center; color: @subcolor; position: relative; top: 20px; display: block;
                }
            }
        }
    }
    // subone 사이드바1 전기차소개 끝
    // subone 사이드바2 전기차소개 시작
    .side2wrap{
        width: 1170px; height: 125px; background: #ff0; float: left; margin-left: 50px;
        h1{
             width: 585px; height: 50px; color: @subcolor; font-size: 36px; background: #0f0; float: left;
        }
        .sidenav{
             width: 585px; height: 50px; float: left; background: #d4d;
             p{
                font-size: 10px; float: right; padding-top: 35px; color: @subcolor;
             }
        }
        .sidedepth3{
            width: 1170px; height: 75px; background: @maincolor; float: left;
            p{
                font-size: 24px; display: inline-block; padding-top: 16px; padding-left: 30px;
                a{
                    color: @fontcolor;
                }
            }
    }
    // subone 사이드바2 전기차소개 끝
}
    //콘텐츠 작동원리 시작
    .content1{
        width: 1170px; height: 350px;; float: right; background: #c8b; float: left;  margin-left: 50px;
    }
    //콘텐츠 작동원리 끝
}
// 컨텐츠 끝

//footer시작
.footer{
    width: 100%; height: 200px; border-top: 1px solid @maincolor;
    .footwrap{
        width: 1400px; height: 100%; margin: 0 auto;
        .footlogo{
            width: 201px; height: 48px; padding-top: 77px;
            img{
                width: 201px; height: 48px;
            }
        }
        .footinfor{
            width: 530px; float: right;
            span{
                display: block; font-size: 12px;
            }
        }
    }
}
//footer끝
