@charset "utf-8";

/*-------------------------------------------------------------------LAYOUT-------------------------------------------------------------------*/
/*user_type*/
a { text-decoration:none; }
a:hover { text-decoration:none; color:#ff3812; }
body { background:#232323; } /*footer 배경을 지정*/

#Wrap_ex  { width:100%; background:url(../img/bg.jpg) top left repeat; float:left; padding-bottom:70px; } /*container 배경을 지정*/
#Wrap_sub { width:100%; background:#fff; float:left; padding-bottom:70px; }
#Wrap  { width:100%; text-align:center; }

/*header*/
#Header { width:100%; text-align:center; position:relative; z-index:10; height:200px; }
#Wrap_sub #Header { background:url(../img/bg_sub.jpg) top left repeat; height:220px; }
#Header_inner { width:940px; margin:0 auto; position:relative; } /* Header 크기 및 정렬 */


/*Hta*/
.Hta { position:absolute; top:50px; left:0px; text-align:left; }
.Hta h1 { }
/*//Hta*/

/*Gnb*/
.Gnb { position:absolute; top:40px; right:0px; }
.Gnb ul {  }
.Gnb ul li { float:left; margin-left:7px;  }
.Gnb ul li a { font-size:11px; color:#fff; }
.Gnb ul li a:hover { color:#fff; }
.Gnb ul li.gnb_line { color:#e7e7e7; }
/*//Gnb*/

/*Mnb*/
.Mnb { width:100%; margin-top:84px; float:left; padding:10px 0; }
.Mnb .mnb_inner { width:940px; margin:0 auto; }
.Mnb .mnb_main { float:right; }
.Mnb .mnb_main li { float:left; position:relative; margin-left:95px; height:30px; line-height:30px;}
.Mnb .mnb_main li.end { margin-right:0; }
.Mnb .mnb_main li a { color:#fff; font-weight:bold; font-size:24px; }
.Mnb .mnb_main li a:hover { color:#ff3812; font-weight:bold; }
.Mnb .mnb_main li.on a { color:#ff3812; font-weight:bold; }
/*서브 메뉴의 공통 스타일*/
.Mnb .mnb_main .mnb_sub { height:40px; line-height:40px; }
.Mnb .mnb_main .mnb_sub span { float:left; display:inline-block; margin-right:10px; }
.Mnb .mnb_main .mnb_sub span a { color:#fff; font-weight:bold; font-size:14px; padding-top:40px; } /*서브메뉴 hit영역 a의 상단패딩으로 결정*/
.Mnb .mnb_main .mnb_sub span a:hover { color:#373535; font-weight:bold; font-size:14px; }
.Mnb .mnb_main .mnb_sub span.mnb_line { color:#ddad2a; }
/*각서브 메뉴의 위치 및 크기*/
.sub_position_1 { position:absolute; top:87px; left:0; width:500px; z-index:20; } /*서브메뉴 hit영역 포지션 값으로 결정 .Mnb .mnb_main li의 line-height 영향을 받음*/
.sub_position_2 { position:absolute; top:87px; left:0; width:500px; z-index:20; }
.sub_position_3 { position:absolute; top:87px; left:-100px; width:500px; z-index:20; }
.sub_position_4 { position:absolute; top:87px; left:-25px; width:500px; z-index:20; }
/*마우스 오버시 서브메뉴 display 상태값 변경*/
.Mnb .mnb_main li > .mnb_sub { display:none; }/*** stay ***/
.Mnb .mnb_main li:hover > .mnb_sub { display:block; }/*** hover ***/
/*마우스 오버시 서브메뉴의 배경 display 상태값 변경 .Mnb .mnb_main .mnb_sub의 height,line-height값의 영향을 받음*/
/*.Mnb .mnb_main li:hover > .mnb_sub_bg { display:none; }/*** stay ***/
.Mnb .mnb_main li:hover > .mnb_sub_bg { display:block; width:10000px; background-color:#fcc52d; height:40px; position:absolute; left:-2000px; top:90px; }/*** hover ***/
.mnb_sub_bg { display:block; width:10000px; background-color:#fcc52d; height:40px; position:absolute; left:-2000px; top:180px; }
/*//Mnb*/
/*//header*/

/*container*/ 
#Container { width:100%; margin:0 auto; position:relative; text-align:center; float:left; }
#Container_inner { width:940px; margin:0 auto; position:relative; }

/*Spot*/
.Spot { width:940px; overflow:hidden; }
/*Spot*/

/*content*/
#Content { width:100%; float:left; }

/*main_menu_list banner_list*/
.menu_list { width:100%; }
.menu_list .menu_thumb { width:220px; background:#fff; text-align:center; padding:20px 0 30px 0; margin-right:20px; float:left; margin-top:20px; }
.menu_list .last { margin-right:0; }
.menu_list h5 { font-size:14px; line-height:20px; margin-top:15px; }
.menu_list .menu_txt { font-size:11px; color:#acacac; line-height:20px; margin-top:1px; }
.menu_list .bar { width:180px; height:12px; background:#e3e3e3; margin:0 auto; position:relative; margin-top:10px; }
.menu_list .bar .bar_icon { position:absolute; top:-8px; left:-2px; z-index:10; }
.menu_list .bar .bar_icon2 { position:absolute; top:0px; left:5px; }

.menu_list_sub .menu_thumb  { background:#f8f8f8; }

.banner_list { float:left; }
.banner_list a { float:left; }
/*main_menu_list banner_list*/

/*sec_top*/
.sec_top { width:100%; float:left; padding-top:30px; padding-bottom:10px; }
.sec_top h2 { font-size:37px; letter-spacing:-2px; color:#fcc52d; border-bottom:1px solid #fcc52d; text-align:left; width:180px; font-weight:bold; padding-bottom:3px; }
.path { position:absolute; font-size:11px; top:40px; right:0; color:#9b9a9a; }

.tab_type { float:left; margin-top:15px; text-align:left; width:100%;  }
.tab_type ul li { float:left; }
.tab_type a { padding:20px 30px; font-size:16px; letter-spacing:-1px; font-weight:bold; background:#e3e3e3; color:#828181; float:left; display:block; border-left:1px solid #d9d9d9;  }
.tab_type a:hover { padding:20px 30px; font-size:16px; letter-spacing:-1px; font-weight:bold; background:#fcc52d; color:#fff; float:left; display:block; border-left:1px solid #f0b71b; }
.tab_type a.on { padding:20px 30px; font-size:16px; letter-spacing:-1px; font-weight:bold; background:#fcc52d; color:#fff; float:left; display:block; border-left:1px solid #fcc52d; }

.search_box { display:block; text-align:left; border:1px solid #d9d9d9; padding:30px 40px; position:relative;  }
.search_box label { padding-right:20px; padding-left:5px; }
.search_box select { margin-right:5px; }

.sec_top .btn_normal { position:absolute; top:30px; right:40px; }
/*//sec_top*/

/*sec_con*/
.sec_con { width:100%; position:relative; text-align:left; float:left; }
.sec_con table img { vertical-align:middle; }
/*//sec_con*/
.detail_1 { background:#f8f8f8; height:344px; width:100%; position:relative }
.detail_1 .area_1 { float:left; }
.detail_1 .area_2 { float:left; margin-top:50px; margin-left:50px; }
.detail_1 .area_2 h3 { color:#1b1b1b; font-size:24px; letter-spacing:-1px; }
.detail_1 .area_2 img { padding-right:5px; position:relative; top:2px; }
.detail_1 .area_2 p { color:#acacac; }

.detail_1 .bar { width:200px; height:12px; background:#e3e3e3;position:relative; margin-top:30px; }
.detail_1 .bar .bar_icon { position:absolute; top:-8px; left:-2px; z-index:10; }
.detail_1 .bar .bar_icon2 { position:absolute; top:0px; left:5px; }

.detail_2 { text-align:center; }
.detail_2 div { padding:50px 0; border:1px solid #e7e7e7; border-top:none; }

/*//content*/
/*//container*/

/*footer*/
#FWrap { width:100%; text-align:center; padding-top:34px; padding-bottom:60px; }
#Footer { width:940px; text-align:left; margin:0 auto; position:relative; }
.foot_copyright { float:left; font-size:11px; line-height:14px; color:#cbcbcb; width:100%; }
.foot_copyright h5 { float:left; margin-right:20px; }
.foot_copyright div { float:left; }
.foot_copyright a { color:#cbcbcb; }
.foot_copyright a:hover { color:#cbcbcb; }
.foot_link { position:absolute; top:0; right:0; }
.foot_link a { margin-left:12px; }
/*//footer*/

/* page_type */
.page_num { height:30px; text-align:left; padding:30px 0 0 0; clear:both; position:relative; text-align:center; }
.page_num a { display:inline-block; width:30px; height:30px; line-height:30px; background:#fff; border:1px solid #aaa; color:#666666; font-size:12px; text-align:center; }
.page_num a:hover{ background:#ffbf21; border:1px solid #ffbf21; color:#fff; }
.page_num a.boxnow{ font-weight:bold; color:#fff; background:#ffbf21; border:1px solid #ffbf21; color:#fff; }
.page_num a.boxFirst{ width:30px;height:30px; background:url(../img/page_begin.gif) 2px 2px no-repeat; margin:0 1px;   }
.page_num a.boxPrev{ width:30px;height:30px; background:url(../img/page_prev.gif) 2px 2px no-repeat; margin:0 1px; margin-right:10px; }
.page_num a.boxNext{ width:30px;height:30px; background:url(../img/page_next.gif) 2px 2px no-repeat; margin:0 1px; margin-left:10px; }
.page_num a.boxLast{ width:30px;height:30px; background:url(../img/page_end.gif) 2px 2px no-repeat; margin:0 1px; } 
/* //page_type */

.btn_normal { 
display:inline-block; padding:12px 40px 12px 40px; cursor:pointer; color:#fff; font-size:16px; font-weight:bold; line-height:22px; 
font-family:'Calibri','Nanum Gothic';
vertical-align:middle;
background-color:#c4d62f; border:1px solid #c4d62f;
/*오버움직임*/   
-webkit-transition:all 0.5s ease;    
-moz-transition:all 0.5s ease;    
-o-transition:all 0.5s ease;    
transition:all 0.5s ease;    
/*//오버움직임*/
}
.btn_normal:hover { background-color:#aabb22; border:1px solid #aabb22; }
.btn_normal2 { 
display:inline-block; padding:12px 40px 12px 40px; cursor:pointer; color:#fff; font-size:16px; font-weight:bold; line-height:22px; 
font-family:'Calibri','Nanum Gothic';
vertical-align:middle;
background-color:#fcc52d; border:1px solid #fcc52d;
/*오버움직임*/   
-webkit-transition:all 0.5s ease;    
-moz-transition:all 0.5s ease;    
-o-transition:all 0.5s ease;    
transition:all 0.5s ease;    
/*//오버움직임*/
}
.btn_normal2:hover { background-color:#ebb216; border:1px solid #ebb216; }
/*//user_type*/
/*//-------------------------------------------------------------------LAYOUT-------------------------------------------------------------------*/

/*-------------------------------------------------------------------other_element-------------------------------------------------------------------*/
/*width*/
.w_100p { width:100%; }
.w_40 { width:40px; }
.w_50 { width:50px; }
.w_70 { width:70px; }
.w_100 { width:100px; }
.w_120 { width:120px; }
.w_150 { width:150px; }
.w_180 { width:180px; }
.w_200 { width:200px; }
.w_220 { width:220px; }
.w_250 { width:250px; }
.w_300 { width:300px; }
.w_400 { width:400px; }
.w_450 { width:450px; }
.w_500 { width:500px; }
.w_600 { width:600px; }
.w_700 { width:700px; }
.w_800 { width:800px; }
/*//width*/
/*margin*/
.mat_2 { margin-top:2px; }
.mat_3 {margin-top:3px; }
.mat_5 { margin-top:5px; }
.mat_7 { margin-top:7px; }
.mat_10 { margin-top:10px; }
.mat_15 { margin-top:15px; }
.mat_20 { margin-top:20px; }
.mat_30 { margin-top:30px; }
.mat_40 { margin-top:40px; }
.mat_50 { margin-top:50px; }
.mat_60 { margin-top:60px; }
.mat_70 { margin-top:70px; }
.mat_80 { margin-top:80px; }
.mat_90 { margin-top:90px; }
.mat_100 { margin-top:100px; }
.mal_5 { margin-left:5px; }
.mal_9 { margin-left:9px; }
.mal_10 { margin-left:10px; }
.mal_20 { margin-left:20px; }
.mal_30 { margin-left:30px; }
.mal_40 { margin-left:40px; }
.mal_50 { margin-left:50px; }
.mal_60 { margin-left:60px; }
.mal_70 { margin-left:70px; }
.mar_3 { margin-right:3px; }
.mar_5 { margin-right:5px; }
.mar_10 { margin-right:10px; }
.mar_20 { margin-right:20px; }
.mab_1 { margin-bottom:1px; }
.mab_2 { margin-bottom:2px; }
.mab_3 { margin-bottom:3px; }
.mab_5 { margin-bottom:5px; }
.mab_10 { margin-bottom:10px; }
.mab_20 { margin-bottom:20px; }
.mab_30 { margin-bottom:30px; }
.mab_40 { margin-bottom:40px; }
.mab_50 { margin-bottom:50px; }
/*//margin*/
/*font_size*/
.fs_11 { font-size:11px; }
.fs_12 { font-size:12px; }
.fs_14 { font-size:14px; }
.fs_16 { font-size:16px; }
/*//font_size*/
/*font_style*/
.fw_bold { font-weight:bold; }
.fw_normal { font-weight:normal; }
/*//font_style*/
/*font_color*/
.fc_gray_light { color:#adadad; }
.fc_gray_normal { color:#a2a2a2; }
.fc_gray_dark { color:#5a5a5a; }
.fc_blue_light  { color:#4eb3e3; }
.fc_blue_normal{ color:#1bb2dd; }
.fc_blue_dark { color:#4eb3e3; }
.fc_red_light  { color:#ae2222; }
.fc_red_normal  { color:#ff002a; } 
.fc_red_dark  { color:#66a3d4; }
.fc_green_light { color:#99b627; }
.fc_green_normal { color:#99b627; }
.fc_green_dark { color:#99b627; }
.fc_orange_light { color:#99b627; }
.fc_orange_normal { color:#f6881e; }
.fc_orange_dark { color:#ff4e00; }
.fc_yellow_light { color:#99b627; }
.fc_yellow_normal { color:#99b627; }
.fc_yellow_dark { color:#99b627; }
.fc_black { color:#2b2b2b; }
.fc_purple { color:#4f4fab; }
/*//font_color*/
/*정렬*/
.a_left { text-align:left; }
.a_center { text-align:center; }
.a_right { text-align:right; }
.f_left { float:left; }
.f_right { float:right; }
/*//정렬*/
.hatching_line_5 { width:100%; height:5px; background:url(../images/inc/line_hc.gif) top left repeat; background-color:#5a5a5a; display:block; }
.hatching_line_10 { width:100%; height:10px; background:url(../images/inc/line_hc.gif) top left repeat; background-color:#5a5a5a; display:block; }
/*//-------------------------------------------------------------------other_element-------------------------------------------------------------------*/