@import "http://fonts.googleapis.com/earlyaccess/notosanskr.css";
/* line 2, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 3, assets\less\common.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 4, assets\less\common.less */
ul li {
  list-style: none;
}
/* line 5, assets\less\common.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 2, assets\less\style.less */
.top {
  width: 100%;
  height: 125px;
  position: relative;
  border-bottom: 1px solid #80af00;
}
/* line 4, assets\less\style.less */
.top .login {
  width: 70%;
  height: 25px;
  margin: 0 auto;
}
/* line 6, assets\less\style.less */
.top .login .login_nav {
  width: 140px;
  height: 25px;
  float: right;
}
/* line 8, assets\less\style.less */
.top .login .login_nav a {
  font-size: 10px;
  color: #7a7878;
  padding-right: 5px;
}
/* line 13, assets\less\style.less */
.top .menu {
  width: 70%;
  height: 100px;
  margin: 0 auto;
}
/* line 15, assets\less\style.less */
.top .menu .logo {
  width: 201px;
  height: 48px;
  background: url(../../assets/images/logo.png);
  background-color: #fff;
  float: left;
  margin-top: 26px;
}
/* line 19, assets\less\style.less */
.top .menu .eco {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 125px;
  display: none;
}
/* line 21, assets\less\style.less */
.top .menu .eco .ecostory {
  width: 130px;
  height: 70px;
  background: #80af00;
  position: absolute;
  top: 30px;
  left: 25px;
}
/* line 23, assets\less\style.less */
.top .menu .eco .ecostory .ecocar {
  display: block;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
/* line 26, assets\less\style.less */
.top .menu .eco .ecostory .story {
  display: block;
  padding-left: 25px;
  font-size: 16px;
  color: #ffffff;
}
/* line 30, assets\less\style.less */
.top .menu .eco .ecoinfor {
  width: 130px;
  height: 70px;
  position: absolute;
  top: 30px;
  right: 0;
}
/* line 32, assets\less\style.less */
.top .menu .eco .ecoinfor .in {
  display: block;
  font-size: 11px;
  padding-top: 17px;
  color: #7a7878;
}
/* line 35, assets\less\style.less */
.top .menu .eco .ecoinfor .for {
  display: block;
  font-size: 11px;
  color: #7a7878;
}
/* line 40, assets\less\style.less */
.top .menu .depth1 {
  position: relative;
}
/* line 42, assets\less\style.less */
.top .menu .depth1 .depth1_1 {
  width: 950px;
  position: absolute;
  top: 40px;
  right: 0;
}
/* line 44, assets\less\style.less */
.top .menu .depth1 .depth1_1 .depth1_2 {
  width: 180px;
  display: inline-block;
}
/* line 46, assets\less\style.less */
.top .menu .depth1 .depth1_1 .depth1_2 a .top_nav {
  display: block;
  text-align: center;
}
/* line 51, assets\less\style.less */
.top .menu .depth1 .depth2 {
  position: relative;
}
/* line 53, assets\less\style.less */
.top .menu .depth1 .depth2 .depth2_1 {
  width: 185px;
  position: absolute;
  top: 36px;
  display: none;
}
/* line 55, assets\less\style.less */
.top .menu .depth1 .depth2 .depth2_1 .depth2_2 {
  width: 180px;
  height: 150px;
  display: inline-block;
  margin: 0 auto;
}
/* line 57, assets\less\style.less */
.top .menu .depth1 .depth2 .depth2_1 .depth2_2 a .bottom_nav {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #7a7878;
}
/* line 71, assets\less\style.less */
.slidewrap {
  height: 100%;
  position: relative;
}
/* line 73, assets\less\style.less */
.slidewrap .main1 {
  width: 100%;
  height: 100%;
}
/* line 75, assets\less\style.less */
.slidewrap .main1 img {
  width: 100%;
  height: 100%;
}
/* line 78, assets\less\style.less */
.slidewrap .main1 .slideinfor {
  width: 40%;
  height: 350px;
  position: absolute;
  top: 15%;
  left: 21%;
}
/* line 80, assets\less\style.less */
.slidewrap .main1 .slideinfor img {
  width: 30%;
  height: 250px;
}
/* line 84, assets\less\style.less */
.slidewrap .main1 .line {
  position: absolute;
  top: 130px;
  left: 460px;
  display: block;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
/* line 87, assets\less\style.less */
.slidewrap .main1 .line2 {
  position: absolute;
  top: 190px;
  left: 460px;
  display: block;
  font-size: 48px;
  color: #ffffff;
}
/* line 90, assets\less\style.less */
.slidewrap .main1 .line3 {
  position: absolute;
  top: 250px;
  left: 460px;
  display: block;
  font-size: 48px;
  color: #ffffff;
}
/* line 93, assets\less\style.less */
.slidewrap .main1 .ecobutton {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 380px;
  left: 450px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 5px;
}
/* line 96, assets\less\style.less */
.slidewrap .main1 .slidebutton {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 600px;
  left: 920px;
}
/* line 98, assets\less\style.less */
.slidewrap .main1 .slidebutton .one {
  width: 15px;
  height: 15px;
  background: #80af00;
  border-radius: 15px;
  text-indent: -9999px;
  border: #80af00;
  margin-left: 4px;
}
/* line 106, assets\less\style.less */
.effectwrap {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
/* line 108, assets\less\style.less */
.effectwrap .scrollone {
  width: 1400px;
  height: 200px;
  margin: 0 auto;
}
/* line 110, assets\less\style.less */
.effectwrap .scrollone h1 {
  text-align: center;
  color: #80af00;
  font-size: 48px;
}
/* line 113, assets\less\style.less */
.effectwrap .scrollone h2 {
  text-align: center;
  color: #7a7878;
  font-size: 24px;
  font-weight: normal;
}
/* line 116, assets\less\style.less */
.effectwrap .scrollone img {
  width: 15px;
  height: 33px;
  margin-left: 680px;
  margin-top: 50px;
}
/* line 120, assets\less\style.less */
.effectwrap .iconwrap {
  width: 1400px;
  height: 400px;
  margin: 0 auto;
}
/* line 122, assets\less\style.less */
.effectwrap .iconwrap .energy {
  width: 250px;
  height: 200px;
  float: left;
  margin-left: 160px;
  margin-top: 80px;
}
/* line 124, assets\less\style.less */
.effectwrap .iconwrap .energy img {
  padding-left: 90px;
  padding-top: 20px;
}
/* line 127, assets\less\style.less */
.effectwrap .iconwrap .energy .energyinfor {
  width: 250px;
  height: 130px;
  margin-top: 20px;
}
/* line 129, assets\less\style.less */
.effectwrap .iconwrap .energy .energyinfor span {
  display: block;
  text-align: center;
  color: #7a7878;
  font-size: 12px;
  padding-top: 5px;
}
/* line 138, assets\less\style.less */
.subsidywrap {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: #f6ffdb;
}
/* line 140, assets\less\style.less */
.subsidywrap .scrolltwo {
  width: 1400px;
  height: 200px;
  margin: 0 auto;
}
/* line 142, assets\less\style.less */
.subsidywrap .scrolltwo h1 {
  text-align: center;
  color: #80af00;
  font-size: 48px;
  padding-top: 20px;
}
/* line 145, assets\less\style.less */
.subsidywrap .scrolltwo h2 {
  text-align: center;
  color: #7a7878;
  font-size: 24px;
  font-weight: normal;
}
/* line 148, assets\less\style.less */
.subsidywrap .scrolltwo img {
  width: 15px;
  height: 33px;
  margin-left: 680px;
  margin-top: 50px;
}
/* line 152, assets\less\style.less */
.subsidywrap .carwrap {
  width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 154, assets\less\style.less */
.subsidywrap .carwrap .car1 {
  width: 460px;
  height: 180px;
  float: left;
  margin-left: 5px;
  margin-top: 12px;
  position: relative;
}
/* line 156, assets\less\style.less */
.subsidywrap .carwrap .car1 .carbox {
  width: 300px;
  height: 180px;
  border: 7px solid #80af00;
  display: block;
}
/* line 159, assets\less\style.less */
.subsidywrap .carwrap .car1 .carname {
  width: 120px;
  height: 30px;
  font-size: 36px;
  color: #7a7878;
  display: block;
  position: absolute;
  left: 50px;
  top: 63px;
  text-align: center;
}
/* line 162, assets\less\style.less */
.subsidywrap .carwrap .car1 .carimg {
  width: 300px;
  height: 180px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 164, assets\less\style.less */
.subsidywrap .carwrap .car1 .carimg img {
  width: 300px;
  height: 180px;
}
/* line 170, assets\less\style.less */
.subsidywrap .footcar {
  width: 500px;
  height: 50px;
  display: inline-block;
  border-bottom: 5px solid #80af00;
  margin-top: 50px;
  margin-left: 1100px;
  margin-bottom: 50px;
}
/* line 172, assets\less\style.less */
.subsidywrap .footcar span {
  font-size: 24px;
  color: #7a7878;
  float: right;
}
/* line 179, assets\less\style.less */
.blogwrap {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
/* line 181, assets\less\style.less */
.blogwrap .scrollthree {
  width: 1400px;
  height: 200px;
  margin: 0 auto;
}
/* line 183, assets\less\style.less */
.blogwrap .scrollthree h1 {
  text-align: center;
  color: #80af00;
  font-size: 48px;
}
/* line 186, assets\less\style.less */
.blogwrap .scrollthree h2 {
  text-align: center;
  color: #7a7878;
  font-size: 24px;
  font-weight: normal;
}
/* line 189, assets\less\style.less */
.blogwrap .scrollthree img {
  width: 15px;
  height: 33px;
  margin-left: 680px;
  margin-top: 50px;
}
/* line 193, assets\less\style.less */
.blogwrap .blogmain {
  width: 1400px;
  height: 500px;
  margin: 0 auto;
}
/* line 195, assets\less\style.less */
.blogwrap .blogmain .blog1,
.blogwrap .blogmain .blog2,
.blogwrap .blogmain .blog3 {
  width: 250px;
  height: 270px;
  float: left;
  margin-left: 162.5px;
  margin-top: 80px;
}
/* line 197, assets\less\style.less */
.blogwrap .blogmain .blog1 .blog1box,
.blogwrap .blogmain .blog2 .blog1box,
.blogwrap .blogmain .blog3 .blog1box,
.blogwrap .blogmain .blog1 .blog2box,
.blogwrap .blogmain .blog2 .blog2box,
.blogwrap .blogmain .blog3 .blog2box,
.blogwrap .blogmain .blog1 .blog3box,
.blogwrap .blogmain .blog2 .blog3box,
.blogwrap .blogmain .blog3 .blog3box {
  width: 250px;
  height: 230px;
  float: left;
}
/* line 199, assets\less\style.less */
.blogwrap .blogmain .blog1 .blog1box img,
.blogwrap .blogmain .blog2 .blog1box img,
.blogwrap .blogmain .blog3 .blog1box img,
.blogwrap .blogmain .blog1 .blog2box img,
.blogwrap .blogmain .blog2 .blog2box img,
.blogwrap .blogmain .blog3 .blog2box img,
.blogwrap .blogmain .blog1 .blog3box img,
.blogwrap .blogmain .blog2 .blog3box img,
.blogwrap .blogmain .blog3 .blog3box img {
  width: 250px;
  height: 230px;
}
/* line 203, assets\less\style.less */
.blogwrap .blogmain .blog1 .bloginfor,
.blogwrap .blogmain .blog2 .bloginfor,
.blogwrap .blogmain .blog3 .bloginfor {
  width: 250px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #7a7878;
  margin-top: 10px;
}
/* line 211, assets\less\style.less */
.chargingwrap {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: #f6ffdb;
}
/* line 213, assets\less\style.less */
.chargingwrap .scrollfour {
  width: 1400px;
  height: 200px;
  margin: 0 auto;
}
/* line 215, assets\less\style.less */
.chargingwrap .scrollfour h1 {
  text-align: center;
  color: #80af00;
  font-size: 48px;
  padding-top: 20px;
}
/* line 218, assets\less\style.less */
.chargingwrap .scrollfour h2 {
  text-align: center;
  color: #7a7878;
  font-size: 24px;
  font-weight: normal;
}
/* line 221, assets\less\style.less */
.chargingwrap .scrollfour img {
  width: 15px;
  height: 33px;
  margin-left: 680px;
  margin-top: 50px;
}
/* line 225, assets\less\style.less */
.chargingwrap .chargingimg {
  width: 70%;
  height: 500px;
  background: #f00;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 227, assets\less\style.less */
.chargingwrap .chargingimg img {
  width: 33%;
  height: 100%;
}
/* line 231, assets\less\style.less */
.chargingwrap .footcharging {
  width: 500px;
  height: 50px;
  display: inline-block;
  border-bottom: 5px solid #80af00;
  margin-top: 50px;
  margin-left: 1100px;
  margin-bottom: 50px;
}
/* line 233, assets\less\style.less */
.chargingwrap .footcharging span {
  font-size: 24px;
  color: #7a7878;
  float: right;
}
/* line 243, assets\less\style.less */
.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #80af00;
}
/* line 245, assets\less\style.less */
.footer .footwrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}
/* line 247, assets\less\style.less */
.footer .footwrap .footlogo {
  width: 201px;
  height: 48px;
  padding-top: 77px;
}
/* line 249, assets\less\style.less */
.footer .footwrap .footlogo img {
  width: 201px;
  height: 48px;
}
/* line 253, assets\less\style.less */
.footer .footwrap .footinfor {
  width: 530px;
  float: right;
}
/* line 255, assets\less\style.less */
.footer .footwrap .footinfor span {
  display: block;
  font-size: 12px;
}
